/* TODO: Add a rule for images, so they never exceed their container's width. */
[class^="icon-"], [class*=" icon-"] {
    /*max-width: 100%;*/
}
.icon-menu {
    display: inline;
    float: right;
    font-size: 2em;
}

.main-nav > ul > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 750px) {
    .icon-menu {
        display: none;
    }
}

@media only screen and (min-width: 750px) {
    .main-nav {
        display: none;
    }
}

body {
    line-height: 1.5;
    font-size: 100%;
    color: #313131;
}

hr {
    margin: 1em;
    width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
    font-size: 1em;
}

address {
    display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
    text-decoration: none;
    color: #777777;
}

a:hover, a:focus {
    color: #29506D;
}

a:visited {
}